* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    /* background-color: violet; */
}

.wrapper {
    height: 100%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    height: 90%;
    width: 90%;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-box {
    height: 90%;
    width: 90%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-inner-box {
    height: 90%;
    width: 90%;
    background-color: lightgreen;
}

.div {
    height: 200px;
    width: 200px;
    background-color: darkorange;
    margin: 1vw;
    position: absolute;
    left: 0;
    top: 0;
}