* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html, body {
    height: 100%;
    width: 100%;
    /* background-color: violet; */
}

.wrapper {
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
}

.nav {
    height: 100px;
    width: 100%;
    /* background-color: pink; */
    display: flex;
}

.left-div {
    width: 30%;
    height: 100%;
    /* background-color: lightskyblue; */
    display: flex;
    align-items: center;
    padding: 0 5vw;
}

.left-div h2 {
    font-size: 1.6vw;
}

.right-div {
    height: 100%;
    width:70%;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5vw;
}

.right-div a {
    text-decoration: none;
    color: black;
    margin: 0 1vw;
    font-size: 1vw;
    font-weight: 500;
}

.right-div button {
    font-size: 1vw;
    padding: .4vw 1.6vw;
    margin-left: 4vw;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid black;
}

.homepage {
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: darkorange; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 90%;
    width: 90%;
    background-color: lightseagreen;
    border-radius: 10px;
    background-image: url(home2.jpg);
    background-size: cover;
    background-position: center;
}

.choice {
    height: 60vh;
    width: 100%;
    background-color: purple;
}

.lower-homepage {
    height: 20vh;
    width: 100%;
    background-color: violet;
    display: flex;
    justify-content: center;
    position: relative;
}

.facility {
    height: 30vh;
    width: 80%;
    background-color: #fff;
    position: absolute;
    top: -100%;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    padding: 1vw;
}

.facility .left {
    height: 100%;
    width: 38%;
    /* background-color: pink; */
    padding: 1vw;
}

.facility .mid {
    height: 100%;
    width: 24%;
    background-color: lightskyblue;
}

.facility .right {
    height: 100%;
    width: 38%;
    background-color: lightseagreen;
}

.upper-facility {
    height: 40%;
    width: 100%;
    /* background-color: darkturquoise; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-facility h2 {
    font-size: 1.4vw;
}

.upper-facility a {
    text-decoration: none;
    color: darkorange;
    font-weight: 600;
    font-size: .9vw;
    margin-right: 2vw;
}

.lower-facility {
    width: 100%;
    height: 60%;
    /* background-color: slateblue; */
    display: flex;
    align-items: center;
}

.swimming p, 
.wifi p,
.ac p,
.dinner p {
    text-align: center;
    margin: .5vw 0;
    font-size: 1vw;
}

.swimming, 
.wifi,
.ac,
.dinner {
    margin-right: 2vw;
    height: 10vh;
    width: 10vh;
    /* background-color: darkorange; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.swimmming-icon {
    color: blueviolet;
    /* background-color: red; */
}

.wifi-icon {
    color: red;
}

.ac-icon {
    color: aquamarine;
}

.dinner-icon {
    color: darkorange;
}

.lower-facility button {
    padding: .8vw;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
}

.lower-facility button i {
    font-size: 1.4vw;
}

.choice {
    height: 50vh;
    width: 100%;
    background-color: pink;
}